/* Добавляем стиль для пагинации */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}
.page-item {
    margin: 0 5px;
}
.page-link {
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;               /* Цвет текста */
    background-color: #B69B73;    /* Фоновый цвет */
    transition: background-color 0.3s;
}
.page-link:hover {
    background-color: #201611
}
.active .page-link {
    background-color: #201611;;    /* Цвет фона для активной страницы */
    color: white;                 /* Цвет текста для активной страницы */
}
