<!-- В файле templates/app/articles.html -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список статей</title>
</head>
<body>
{% if data_exists %}
    <p>Данные успешно загружены в базу данных.</p>
{% else %}
    <p>Данные отсутствуют в базе данных.</p>
{% endif %}

<ul>
    {% for article in articles %}
        <li>{{ article.name }} - {{ article.price }} - <img src="{{ article.image.url }}" alt="{{ article.name }}"></li>
    {% endfor %}
</ul>
</body>
</html>