{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pride</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container-header">
            <a href="#" id="logo-header">toolSPACE</a>
            <a href="#" id="catalog-header">каталог</a>
        </div>
    </header>
    {{ tool.title }}
    <footer>
        <div class="container-footer">
            <a href="#" id="logo-header">toolSPACE</a>
            <a href="#" id="catalog-header">каталог</a>
        </div>
    </footer>
</body>
</html>